<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/manage_airline.css">

    <title>Runway44</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top p-2.5" style="background-color: #f5f5f3">
        <a class="navbar-brand" href="#">
            <h4><img src="/images/flightIcon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Runway44</h4>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#home"><b>Home</b><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#RunningFlights"><b>Running flights</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Passengers"><b>Passengers</b></a>
              </li>
            <li class="nav-item">
            <a class="nav-link" href="#addFlight"><b>Add flight</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#cancelFlight"><b>Cancel flight</b></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="" method="post">
            <img src="/images/profileicon.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Log Out</button>
          </form>
        </div>
      </nav>

      <section id="home" style="height:550px; width: 100%; background-image: url(/images/homeImage3.png); background-size: cover;">
        <div style="position: relative; top: 36%;" class="ml-4">
            <h2>Book Your Tickets With Ease</h2>
            <h2>Using Runway44</h2>
        </div>
      </section>

      <section id="RunningFlights" class="bg-light" style="height: 600px; width: 100%; background: rgb(100,100,100);
      background: linear-gradient(90deg, rgba(100,100,100,0.22470238095238093) 0%, rgba(100,100,100,0.5608368347338936) 35%, rgba(100,100,100,1) 100%); background-size: contain; padding-top: 100px;">
        <h3 style="text-align: center;">Flights Running</h3>
        <section class="intro mt-3">
            <div class="bg-image h-100">
              <div class="mask d-flex align-items-center h-100">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body p-0">
                          <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
                            <table class="table table-striped mb-0">
                              <thead style="background-color: #5276ad;">
                                <tr>
                                  <th scope="col">Flight number</th>
                                  <th scope="col">Start Location</th>
                                  <th scope="col">Destination</th>
                                  <th scope="col">Date</th>
                                  <th scope="col">Bookings</th>
                                  <th scope="col">Occupency</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% for(let i of locals.flight_list){ %>
                                  <tr>
                                    <td><%= i.number %></td>
                                    <td><%= i.startLocation %></td>
                                    <td><%= i.destination %></td>
                                    <td><%= moment(i.date).format('Do MMMM, YYYY')%></td>
                                    <td><%= (i.Bclass[0] + i.Fclass[0] + i.Eclass[0] - i.Bclass[1] - i.Fclass[1] - i.Eclass[1]) + '/' + (i.Bclass[1] + i.Fclass[1] + i.Eclass[1]) %></td>
                                    <td><%= ((i.Bclass[0] + i.Fclass[0] + i.Eclass[0] - i.Bclass[1] - i.Fclass[1] - i.Eclass[1])/(i.Bclass[1] + i.Fclass[1] + i.Eclass[1]))*100 + '%' %></td>
                                  </tr>
                                  <%} %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
      </section>


      <section id="Passengers" class="bg-light" style="height: 600px; width: 100%; background: rgb(100,100,100);
      background: linear-gradient(90deg, rgba(100,100,100,0.22470238095238093) 0%, rgba(100,100,100,0.5608368347338936) 35%, rgba(100,100,100,1) 100%); background-size: contain; padding-top: 100px;">
        <h3 style="text-align: center;">Logged Users</h3>
        <section class="intro mt-3">
            <div class="bg-image h-100">
              <div class="mask d-flex align-items-center h-100">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body p-0">
                          <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
                            <table class="table table-striped mb-0">
                              <thead style="background-color: #5276ad;">
                                <tr>
                                  <th scope="col">User Name</th>
                                  <th scope="col">Email</th>
                                  <th scope="col">Usertype</th>
                                  <th scope="col">Recent booking</th>
                                  <th scope="col">No. of Bookings</th>

                                </tr>
                              </thead>
                              <tbody>
                                <% for(let i of locals.user_list){ %>
                                  <tr>
                                    <td><%= i.name %></td>
                                    <td><%= i.email %></td>
                                    <td><%= i.usertype %></td>
                                    <td><%= i.recentbooking %></td>
                                    <td><%= i.bookings %></td>
                                  </tr>
                                  <%} %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
      </section>

      <section id="addFlight" class="bg-light" style=" width: 100%; background: rgb(100,100,100);
      background: linear-gradient(90deg, rgba(100,100,100,0.22470238095238093) 0%, rgba(100,100,100,0.5608368347338936) 35%, rgba(100,100,100,1) 100%); background-size: contain; padding-top: 100px;">
        <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">Add a new Flight</h3>
            </div>
            <div class="card-body">
                <form action="/airline/manage/addNewFlight" method="post">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="flightNumber">Flight Number </label>
                        <input type="number" class="form-control" name="flightnumber" id="flightNumber" placeholder="Number">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="flightName">Flight Name</label>
                        <input type="text" class="form-control" id="flightName" placeholder="Name">
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="startLocation">Start Location </label>
                          <select class="form-control form-control-lg" id="startLocation" name="startlocation" required>
                            <option value="select">-- Select --</option>
                            <option value="kolkata">Kolkata</option>
                            <option value="vizag">Visakhapatnam</option>
                            <option value="chennai">Chennai</option>
                            <option value="thiruvananthapuram">Thiruvananthapuram</option>
                            <option value="ahmedabad">Ahmedabad</option>
                            <option value="amritsar">Amritsar</option>
                            <option value="guhawati">Guhawati</option>
                            <option value="goa">Goa</option>
                            <option value="srinagar">Srinagar</option>
                            <option value="jaipur">Jaipur</option>
                            <option value="kozhikode">Kozhikode</option>
                            <option value="portblair">Port Blair</option>
                            <option value="delhi">Delhi</option>
                            <option value="mumbai">Mumbai</option>
                            <option value="hyderabad">Hyderabad</option>
                            <option value="bengaluru">Bengaluru</option>
                            <option value="kochi">Kochi</option>
                            <option value="nagpur">Nagpur</option>
                          </select>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="endLocation">Destination Location </label>
                          <select class="form-control form-control-lg" id="endLocation" name="destination" required>
                            <option value="select">-- Select --</option>
                            <option value="kolkata">Kolkata</option>
                            <option value="vizag">Visakhapatnam</option>
                            <option value="chennai">Chennai</option>
                            <option value="thiruvananthapuram">Thiruvananthapuram</option>
                            <option value="ahmedabad">Ahmedabad</option>
                            <option value="amritsar">Amritsar</option>
                            <option value="guhawati">Guhawati</option>
                            <option value="goa">Goa</option>
                            <option value="srinagar">Srinagar</option>
                            <option value="jaipur">Jaipur</option>
                            <option value="kozhikode">Kozhikode</option>
                            <option value="portblair">Port Blair</option>
                            <option value="delhi">Delhi</option>
                            <option value="mumbai">Mumbai</option>
                            <option value="hyderabad">Hyderabad</option>
                            <option value="bengaluru">Bengaluru</option>
                            <option value="kochi">Kochi</option>
                            <option value="nagpur">Nagpur</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="startTime">Start At</label>
                          <input type="datetime-local" class="form-control" id="startTime" name="starttime" placeholder="Start Time">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="reachTime">Reach At</label>
                          <input type="datetime-local" class="form-control" id="reachTime" name="reachtime" placeholder="Reach Time">
                        </div>
                      </div>
                    
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">First class</h5>
                              <label>Select number of seats</label>
                              
                              <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                  <input type="radio" name="FCseats" id="option1" value="10" autocomplete="off" checked> 10
                                </label>
                                <label class="btn btn-secondary">
                                  <input type="radio" name="FCseats" id="option2" value="20" autocomplete="off"> 20
                                </label>
                                <label class="btn btn-secondary">
                                  <input type="radio" name="FCseats" id="option3" value="30" autocomplete="off"> 30
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="FCseats" id="option3" value="40" autocomplete="off"> 40
                                  </label>
                                  <label class="btn btn-secondary">
                                    <input type="radio" name="FCseats" id="option3" value="50" autocomplete="off"> 50
                                  </label>
                              </div>
                              <br>
                              
                              <label for="priceFC">Set Price of Ticket</label>
                              <div class="input-group mb-0 mt-0">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">$</span>
                                  <span class="input-group-text">0.00</span>
                                </div>
                                <input type="number" name="priceFC" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group col-md-4">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Business class</h5>
                              <label>Select number of seats</label>
                              
                              <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                  <input type="radio" name="BCseats" id="Boption1" value="10" autocomplete="off" checked> 10
                                </label>
                                <label class="btn btn-secondary">
                                  <input type="radio" name="BCseats" id="Boption2" value="20" autocomplete="off"> 20
                                </label>
                                <label class="btn btn-secondary">
                                  <input type="radio" name="BCseats" id="Boption3" value="30" autocomplete="off"> 30
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="BCseats" id="Boption4" value="40" autocomplete="off"> 40
                                  </label>
                                  <label class="btn btn-secondary">
                                    <input type="radio" name="BCseats" id="Boption5" value="50" autocomplete="off"> 50
                                  </label>
                              </div>
                              <br>
                              
                              <label for="priceBC">Set Price of Ticket</label>
                              <div class="input-group mb-0 mt-0">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">$</span>
                                  <span class="input-group-text">0.00</span>
                                </div>
                                <input type="number" name="priceBC" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                              </div>
                            </div>
                          </div>
                        </div>
                    
                      <div class="form-group col-md-4">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Economy</h5>
                            <label>Select number of seats</label>
                              
                            <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                              <label class="btn btn-secondary active">
                                <input type="radio" name="ECseats" id="Eoption1" value="10" autocomplete="off" checked> 10
                              </label>
                              <label class="btn btn-secondary">
                                <input type="radio" name="ECseats" id="Eoption2" value="20" autocomplete="off"> 20
                              </label>
                              <label class="btn btn-secondary">
                                <input type="radio" name="ECseats" id="Eoption3" value="30" autocomplete="off"> 30
                              </label>
                              <label class="btn btn-secondary">
                                  <input type="radio" name="ECseats" id="Eoption4" value="40" autocomplete="off"> 40
                                </label>
                                <label class="btn btn-secondary">
                                  <input type="radio" name="ECseats" id="Eoption5" value="50" autocomplete="off"> 50
                                </label>
                              </div>
                              <br>
                              
                              <label for="priceFC">Set Price of Ticket</label>
                              <div class="input-group mb-0 mt-0">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">$</span>
                                  <span class="input-group-text">0.00</span>
                                </div>
                                <input type="number" name="priceEC" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                              </div>
                          </div>
                        </div>
                      </div>
                      </div>

                    
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck" required>
                        <label class="form-check-label" for="gridCheck">
                          I am a verified airline member
                        </label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-success px-4" style="position: relative; left: 50%; transform: translateX(-50%);">Confirm Details</button>
                  </form>
                  
            </div>
          </div>
        </div>
      </section>

      <section id="cancelFlight" class="bg-light" style="height: 500px; width: 100%; background: rgb(100,100,100);
      background: linear-gradient(90deg, rgba(100,100,100,0.22470238095238093) 0%, rgba(100,100,100,0.5608368347338936) 35%, rgba(100,100,100,1) 100%); background-size: contain; padding-top: 100px;">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3 style="text-align: center;">Cancel a Flight</h3>
                </div>
                <div class="card-body">
                    <form action="/airline/manage/cancel_flight" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="flightNumber">Flight Number </label>
                              <input type="number" class="form-control" id="flightNumber" name="flightnumber" placeholder="Number">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="departureDate">Departure Date</label>
                              <input type="date" class="form-control" id="departureDate" name="departuredate" placeholder="Date">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="gridCheck">
                              <label class="form-check-label" for="gridCheck">
                                Make sure that no tickets are booked for this flight on the specified date
                              </label>
                            </div>
                          </div>

                          <button type="submit" class="btn btn-warning px-4" style="position: relative; left: 50%; transform: translateX(-50%);">Confirm Details</button>
                    </form>
                </div>
            </div>
        </div>
      </section>

      <section id="footer" style="height: 100px; width: 100%; background: black">
          <div class="d-flex container">
            <div>

            </div>
            <div>
              
            </div>
          </div>
      </section>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>